/* Color Scheme: 
Andover blue: #00319C
Light selection blue: #6292FA
Light gray: #F2F2F2
Gray: #6c757d
White: white
Dark green (border): #009432
Light green (fill): #F2FFEF
White component border gray: #CCCCCC 

default font-size: 10px (1rem)

(everything divided by 1.5 from Adobe XD plan)
ASK-a-Peer large font: 30
Large font (general): 22.7
Medium/Small font: 16.7
Login/Register page fonts
ASC-a-Peer title font: 56
Login font: 23
Else: 16.7

*/


.login-page, .register-page, .confirmation-page {
    position: relative;
    height: 100vh;
    background-image: url('../../assets/auth-bg.jpg');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.auth-card {
    overflow: hidden;
    border-radius: 2.5rem;
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.confirm-card {
    overflow: hidden;
    border-radius: 2.5rem;
    margin: 0; 
    position: absolute; 
    top: 50%; 
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 0;
    min-height: 55rem;
}
.content-wrapper {
    background-color: white;
    display: flex;
    border-radius: 2.5rem;
    align-items: stretch;
}

.samphil-img {
    align-self: stretch;
    background-image: url('../../assets/auth-samphil.jpeg');
    flex: 1;
    border-bottom-left-radius: 2.5rem;
}

.form-container {
    background: white;
    padding: 3rem;
    border-radius: 2.5rem;
}

.auth-title {
    margin-bottom: 4rem;
    text-align: center;
    font-family: 'Ubuntu'; 
    font-size: 4.5em;
    font-weight: 500;
    color: #00319C;
}

.auth-text {
    font-family: 'Ubuntu';
    font-size: 1.67rem;
    color: #00319C;
    margin: 0 auto;
}

.fa-check-circle {
    color: green;
}
.form-control {
    padding: 1.25rem;
    border-radius: 0.5rem;
}

.form-control::placeholder {
    font-family: 'Ubuntu'; 
    font-weight: 300;
    font-size: 1.3rem;
    color: #6c757d;
}

.form-text {
    font-family: 'Ubuntu';
    font-size: 1rem;
}

.form-div {
    margin-bottom: 1.8rem;
}

.form-submit {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 2.3rem;
    color: white;
    background-color: #00319C;
    margin-top: 4rem;
    border-radius: 3rem;
    padding: 0.7rem;
}

.form-submit:focus {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 2.3rem;
    color: white;
    background-color: #00319C;
    margin-top: 4rem;
    border-radius: 3rem;
    padding: 0.7rem;
}
.form-subtext {
    margin-top: 3rem;
    font-family: 'Ubuntu'; 
    font-size: 1.67rem;
    font-weight: 300;
    color: #00319C;
    text-align: center;
}

.form-subtext-link {
    font-weight: 400;
    color: #00319C;
}

.form-subtext a {
    text-decoration: none;
}
