/* Guest Main CSS ================ */
.landing-left{
    padding: 0;
}

.landing-left-container {
    padding-right: 0;
    padding-left: 0;
}

.landing-right {
    background-color: #00319C;
    height: 100vh
}

.landing-title {
    margin-top: 10rem;
}

.landing-left h1 {
	color: black;
    font-size: 8rem;
    font-family: 'Open Sans';
    font-weight: 600;
    z-index: 1000000000;
    margin-left: 6rem;

}

/* Responsive title sizing for small screens */
@media only screen and (max-width: 768px) {  
    .landing-left h1 {font-size:6rem;} 
}

.landing-line {
    height: 20rem;
    width: 1.5rem;
    background-color: #00319C;
    margin: 0;
    padding: none;
    margin-left: 2.5rem;
    float: left;
}

/* Responsive line sizing for small screens */
@media only screen and (max-width: 768px) {
    .landing-line {height: 15rem;}
}


.landing-subtitle {
    font-family: 'Lora';
    font-size: 2.5rem;
    text-align: left;
    margin-left: 2.5rem;
    margin-top: 3rem;
}

.aaf-link {
    text-decoration: underline;
    text-decoration-color: #00319C;
    text-decoration-thickness: 0.3rem;
    color: black;
}

.aaf-link:hover {
    color: white;
    background: #00319C;
}

/* Authenticated Main =================÷ */

.temp-col {
    background: purple;
    height: 100vh;
}

.temp-col-2 {
    background: blue;
}